/* 
author: @alamohammad
github:  @alamohammad
email: alaa.mohammadhb@gmail.com
date: 2024-09-12
project: food-delivery
version: 1.0.0
*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: #282832;
    --secondery-color: #353542;
    --text-color: #fff;
    --text-cecondery-color:#cfcfcf;
    --icon-color: #ffd500;
    --btn-hover:#ffbb00;
}

/*----------- Gerneral -------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-cecondery-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0 0;
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
    margin: 10px 0;
}

.small {
    font-size: 0.8rem;
}

header{
    background-color: var(--secondery-color);
    padding-bottom:100px ;
    /* background-image: url('../images/bg.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: bottom;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

.nav-link_2 img{
    width: 20px;
}

b{
    color: var(--text-color);
}

/*----------- Container -------------*/
.container {
    width: 100%;
    margin: 0 auto;
    /* padding: 0 20px; */
}


/*----------- Header -------------*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 30px;
    margin-right: -8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px 0;
    color: var(--text-color);
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-items_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 60px;
}

.nav-items_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}

.nav-items_2 {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    width: 100%;
    /* padding-left: 40px; */
}

.nav-link_2{
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 0px 10px 30px;
    border-radius: 24px;
    transition: background 0.3s ease;
}

.nav-link{
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 24px;
    transition: background 0.3s ease;
}
.nav-link:hover{
    color: var(--icon-color);
}

.nav-link.active{
    color: var(--main-color);
}

.myName_info{
    width: 30%;
    padding-top: 100px;
    z-index: 2;
margin-right: -200px;}

.myName b{
    font-size: 4.35rem;
    margin-top: -20px;
}

.myName span{
    font-size: 3rem;
    margin-top: -20px;
}

.after{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    /* margin-right: 200px; */
    margin-top: -10px;
}

.behind_2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    width: 100%;

}

.my_photo{
    width: 40%;
    border-radius: 100%;
    display: flex;
}


.my_photo img{
    width: 100%;
    margin-bottom: -90px;
}

.line{
    background-color: var(--icon-color);
    width: 200px;
    height: 2px;
}

.info{
    width: 50%;
    padding-top: 20px;
    /* padding-bottom: 100px; */
}

.yourNeeds{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
    
}

.yourNeeds h1{
    width: 90%;
}

.services{
    text-align: start;
    height: 100%;
    width: 26%;
    padding-top: 50px;
}

.behind{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main_sec{
    background-color: var(--main-color);
    height: auto;
    padding-bottom: 5%;}

.main_sec_1{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-top: 160px;
    padding-bottom: 100px;
    width: 100%;
}

.project_sec{
    background-color: var(--secondery-color);
    display: flex;
    justify-content: space-between;
    padding: 160px 0px;
    width: 100%;
    height: 100%;
}


.box{
    background-color: #525268;
    box-shadow: 1px 1px 8px var(--main-color);
    position: absolute;
    z-index: 3;
    margin-top: 40px;

}

.title{
    text-align: center;
    
}

.main_1{
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 40px;
    padding: 30px 20px;
}

.main_1_col{
    background-color: var(--secondery-color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.info2{
    width: 86%;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-top: 16px;
}

.img1{
    width: 45px;
}

.img2{
    width: 100px;
    padding-left: 5px;
}

.img3{
    width: 140px;
    padding-left: 5px;
}

.main_head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.number{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.number b{
    color: var(--icon-color);
}

.more{
    display: flex;
    color: var(--icon-color);
    align-content: center;
    align-items: center;
    width: fit-content;
}

.more img{
    width: 30px;
    padding-left: 10px;
}

.main_2{
    width: 100%;
    margin-bottom: 100px;
}

.main_2:hover {
    margin-bottom: 6px;
}

.main_sec_row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* padding-bottom: 20px; */
    padding-top:40px ;
}
.main_sec_row1:hover ~ .hidden_info{
    height: 100%;
    overflow: auto;
    .arrow{
        rotate: 30deg;
        height: 0;
    }
}
.main_sec_row1:hover{
    .arrow{
        rotate: 90deg;
    }
}

.hidden_info:hover{
    height: 100%;
    overflow: auto;
}

.main_sec_row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top:40px ;
}

.main_sec_row2:hover ~ .hidden_info{
    height: 100%;
    overflow: auto;
}
.main_sec_row2:hover{
    .arrow{
        rotate: 90deg;
    }
}


.main_sec_row3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top:40px ;
}

.main_sec_row3:hover ~ .hidden_info{
    height: 100%;
    overflow: auto;
}
.main_sec_row3:hover{
    .arrow{
        rotate: 90deg;
    }
}


.sec_row{
    /* padding-bottom: 20px; */
    border-bottom: #525268 1px solid;
}

.sec_row:hover{
    /* padding-bottom: 20px; */
    border-bottom: #525268 1px solid;
    padding-bottom: 20px;

}

.hidden_info{
    height:0;
    overflow: hidden;
}

.arrow{
    width: 40px;
    height: 40px;
}

.row_item{
    display: flex;
}

.row_item img{
    width: 280px;
    height: 160px;
    padding: 0px 20px 20px 0px ;
}

/*----------skills------------*/

.box_skils_1{
    /* position: absolute; */
    /* z-index: 3; */
    /* margin-top: -33%; */
    display: block;
    height: 100%;

}

.skils_1_col{
    background-color: var(--secondery-color);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    box-shadow: 1px 1px 8px var(--main-color);
    text-align: center;
    padding: 10px;

}

.skils_1{
    width: 100%;
    /* height: 120px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding: 30px 0px;
}

.skills_info{
    background-color: #ffd5006d;
    /* opacity: 60%; */
    height: 4px;
    width: 100%;
    border-radius: 20px;
}

.row_skills{
    width: 86%;
    padding: 20px 0px;
}

.row_skils_1{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.skills_avg_html{
    background-color: var(--icon-color);
    width: 90%;
    height: 100%;
    opacity: 100%;
}
.skills_avg_css{
    background-color: var(--icon-color);
    width: 80%;
    height: 100%;
    opacity: 100%;
}
.skills_avg_java{
    background-color: var(--icon-color);
    width: 50%;
    height: 100%;
    opacity: 100%;
}
.skills_avg_react{
    background-color: var(--icon-color);
    width: 0%;
    height: 100%;
    opacity: 100%;
}


.skills_avg_php{
    background-color: var(--icon-color);
    width: 60%;
    height: 100%;
    opacity: 100%;
}
.skills_avg_node{
    background-color: var(--icon-color);
    width: 0%;
    height: 100%;
    opacity: 100%;
}
.skills_avg_sql{
    background-color: var(--icon-color);
    width: 70%;
    height: 100%;
    opacity: 100%;
}


.skills_avg_figma{
    background-color: var(--icon-color);
    width: 40%;
    height: 100%;
    opacity: 100%;
}
.skills_avg_photo{
    background-color: var(--icon-color);
    width: 85%;
    height: 100%;
    opacity: 100%;
}
.skills_avg_ill{
    background-color: var(--icon-color);
    width: 70%;
    height: 100%;
    opacity: 100%;
}

/*--------- my_project -----------*/

.my_project{
    padding-top: 14%;
}

.project_1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
    padding: 30px 0px;
}

.project_1_col{
    background-color: var(--main-color);
    height: fit-content;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 1px 1px 8px var(--main-color);
}

.project_1_col h6,h5{
    color:var(--icon-color);
}

.card_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.project_1_col img{
    margin-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 300px;
    border-radius: 20px 0px;
    margin-right:0px;
    margin-bottom: -8px;
}

/*-----------contact_me-----------*/

.contact_sec{
    background-color: var(--main-color);
}

.contact_me{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.contact_me_lift{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

.contact_me_right{
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    background-color: #413e3e;
    border-radius: 100%;
    background-size: 100px;
    margin: 20px;
}
/*------------footer--------------*/

.footer{
    background-color: var(--secondery-color);
}

.footer_1{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.footer_logo{
    padding: 30px;
}
.footer_logo img{
    width: 30px;
    margin-right: -8px;
}

/*----------- Button -------------*/

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: var(--main-color);
    font-weight: 500;
    font-size: 18px;
    border: 2px solid var(--main-color);
    border-radius: 24px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 152px;
}
.btn-primary {
    background: var(--icon-color);
}

.btn-primary:hover {
    background:var(--btn-hover);
}
.btn-secondary {
    background: #fff;
    color:var(--secondery-color)
}

.btn-secondary:hover {
    background: #f4f4f4;
}

/*----------- Hero -------------*/
.hero {
    background: url('../images/hero.png') top right / 55%  no-repeat;
    color: #fff;
    text-align: left;
    padding: 100px 0;
}
.hero-text-wrapper{
    max-width: 540px;;
}
.hero-text-wrapper h1 {
    margin-bottom: 20px;
    color: var(--text-color);
    font-weight: 600;
}

.hero-text-wrapper p {
    margin-bottom: 20px;
    color: var(--text-color);
}



@media (min-width: 768px) {
    .container {
        max-width: 620px;
    }
    .behind_2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }
   
}

@media (max-width: 768px) {
    .info{
        width: 66%;
    }
    .behind_2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }

    .my_photo{
        width: 100%;
    
    }
    .my_photo img{
        width: 100%;
    }
}

@media (max-width: 568px) {
    .nav-items_sec{
        display: none;
    }

    .row_item{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .main_sec_row{
        display: flex;
        flex-direction: column;
    }

    .row_item img{
        width: 200px;
        padding: 20px 20px 20px 0px ;
    }

    .info{
        width: 100%;
    }

    .skils_1{
        width: 100%;
        /* height: 120px; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 40px;
        padding: 30px 0px;
    }
    .project_1{
        width: 100%;
        display: grid;
        /* grid-template-columns: repeat(1,1fr); */
        grid-gap: 40px;
        padding: 30px 0px;
    }
    .main_sec{
        background-color: var(--main-color);
        height: auto;
        padding-bottom: 5%;
    }
    .behind_2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }

    .my_photo{
        width: 100%;
    
    }
    .my_photo img{
        width: 100%;
    }
        
    
}

@media screen and (max-width: 768px) {
    .hero {
        background-size: 100% 100%;
    }
    .services{
        height: 100%;
        width: 80%;
        padding-top: 50px;
        order: 2;
    }
    .info{
        width: 66%;
    }
    .skils_1{
        width: 100%;
        /* height: 120px; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 40px;
        padding: 30px 0px;
    }
    .project_1{
        width: 100%;
        display: grid;
        /* grid-template-columns: repeat(1,1fr); */
        grid-gap: 40px;
        padding: 30px 0px;
    }

    .main_sec{
        background-color: var(--main-color);
        height: auto;
        padding-bottom: 5%;}

        .myName_info{
            width: 90%;
        }

        .my_photo{
            width: 90%;
        
        }
        .my_photo img{
            width: 100%;
        }

}

@media screen and (max-width: 768px) {
    .hero {
        background-size: 100% 100%;
    }
    .services{
        height: 100%;
        width: 80%;
        padding-top: 50px;
        order: 2;
    }

    .info{
        width: 66%;
    }
    
    .skils_1{
        width: 100%;
        /* height: 120px; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 40px;
        padding: 30px 0px;
    }

    

    .project_1{
        width: 100%;
        display: grid;
        /* grid-template-columns: repeat(1,1fr); */
        grid-gap: 40px;
        padding: 30px 0px;
    }
    .behind_2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }

    .my_photo{
        width: 100%;
    
    }
    .my_photo img{
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 860px;
    }
    .info{
        width: 4%;
    }
    .project_1{
        width: 100%;
        display: grid;
        /* grid-template-columns: repeat(1,1fr); */
        grid-gap: 40px;
        padding: 30px 0px;
    }
    
   
}

@media (max-width: 992px) {
    .container {
        max-width: 860px;
    }

    .row_item{
        display: flex;
        align-items: start;
    }

    .row_item img{
        width: 300px;
    }

    .project_1{
        width: 76%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 40px;
        padding: 30px 0px;
    }
   
    .services{
        height: 100%;
        width: 80%;
        padding-top: 50px;
        order: 2;
    }
    .main_1{
        background-color: #525268;
        box-shadow: 1px 1px 8px var(--main-color);
        width: 90%;
        height: 240px;
        position: absolute;
        z-index: 1;
        /* left: 600px; */
        margin-top: -60px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 40px;
        padding: 30px 40px;
        justify-content: center;
        /* margin-left: 5%; */
    }
    .info{
        width: 66%;
    }
    .main_sec_1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
        width: 100%;
        /* padding: 200px 20px 20px 20px; */
        /* margin-left: 5%;/ */
    }
    .main_2{
        width: 90%;
    }

    .yourNeeds{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 100px;
        
    }
    
    .behind{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    .myImg{
        display: flex;
        padding-top: 100px;
        order:3
    
    }
    .myImg img{
        width: 480px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .behind{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    
    .services{
        height: 100%;
        width: 56%;
        padding-top: 50px;
    }
    
    .info{
        width: 35%;
    }
    
    
}

@media (max-width: 1199px) {
    .container {
        max-width: 1140px;
    }
    
    .behind{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        /* width: 100%; */
        margin-left: 5%;

    }
    .behind_2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }

    .myImg{
        position: absolute;
        display: flex;
        z-index: 2;
        padding-top: 100px;
    
    }
    .myImg img{
        width: 500px;
    }

    .box_skils_1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 90%;
        height: 100%;
    }

    .myName_info{
        width: 100%;
    }
    .services{
        height: 100%;
        width: 48%;
        padding-top: 50px;
        order: 2;
    }

    .info{
        width: 26%;
    }

    .yourNeeds{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 100px;
        /* margin-left: 5%; */
    }
    .main_1{
        width: 100%;
    }

    .box{
        width: 90%;
    }

    .box_father{
        display: flex;
        justify-content: center;

    }

    .box_skils{
        display: flex;
        justify-content: center;

    }
    .skils_1{
        width: 80%;
        /* height: 120px; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 40px;
        padding: 30px 0px;
    }
    .main_sec_1{
        display: flex;
        /* flex-direction: column; */
        justify-content: left;
        /* align-items: center; */
        padding-top: 200px;
        width: 90%;
        /* padding: 200px 20px 20px 20px; */
        /* margin-left: 5%; */
    }
    .main_2{
        width: 100%;
        justify-content: center;
    }

    .row_item{
        align-items: center;
    }

    .row_item img{
        width: 300px;
        height: 180px;
        padding: 20px 20px 20px 0px ;
    }

    .number{
        width: 80%;
        padding-top:10px ;
    }
    .main_sec_row1:hover ~ .first_row{
        height: 100%;
        overflow: auto;
    }
    .contact_me{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    
    .contact_me_lift{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
    }
    .contact_me_right{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
    }
    .myImg{
        display: block;
        padding-top: 100px;
        order: 3;
        margin-left: -60px;
    }
    .myImg img{
        width: 100%;
    }
}

@media (max-width: 1399px) {
    .container {
        max-width: 1140px;
    }
    .behind{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        /* width: 100%; */
        margin-left: 5%;

    }
    .behind_2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }

    .my_photo{
        width: 100%;
    
    }
    .my_photo img{
        width: 100%;
    }

    .box_skils_1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 90%;
        height: 100%;
    }


    .myName_info{
        width: 100%;
    }
    .services{
        height: 100%;
        width: 100%;
        padding-top: 50px;
        order: 2;
        padding-bottom: 40px;
    }

    .info{
        width: 60%;
        padding-bottom: 0px;
    }

    .yourNeeds{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 100px;
        /* margin-left: 5%; */
    }
    .main_1{
        width: 100%;
    }

    .box{
        width: 90%;
    }

    .box_father{
        display: flex;
        justify-content: center;

    }

    .box_skils{
        display: flex;
        justify-content: center;

    }
    .skils_1{
        width: 80%;
        /* height: 120px; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 40px;
        padding: 30px 0px;
    }
    .main_sec_1{
        display: flex;
        /* flex-direction: column; */
        justify-content: left;
        /* align-items: center; */
        padding-top: 200px;
        width: 90%;
        /* padding: 200px 20px 20px 20px; */
        /* margin-left: 5%; */
    }
    .main_2{
        width: 100%;
        justify-content: center;
    }

    .row_item{
        align-items: center;
    }

    .row_item img{
        width: 300px;
        height: 180px;
        padding: 20px 20px 20px 0px ;
    }

    .number{
        width: 80%;
        padding-top:10px ;
    }
    .main_sec_row1:hover ~ .first_row{
        height: 100%;
        overflow: auto;
    }
    .contact_me{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    
    .contact_me_lift{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
    }
    .contact_me_right{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
    }
    .myImg{
        display: block;
        padding-top: 100px;
        order: 3;
        margin-left: -60px;
    }
    .myImg img{
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1340px;
    }
    .behind{
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
    }
    
    .behind_2{
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
    }

    
    
    .services{
        height: 100%;
        width: 30%;
        padding-top: 50px;
    }
    
    .info{
        width: 46%;
    }
    .myName_info{
        width: 42%;
    }
    .box_skils_1{
        display: block;
        position: absolute;
        z-index: 1;    
        margin-top: -22%;
    }
    .main_sec{
        padding-bottom:14% ;
    }
    
    .my_project{
        padding-top: 20%;
    }
    .myImg{
        position: absolute;
        display: flex;
        z-index: 2;
        padding-top: 40px;
        margin-left: 16.5%;
        order: 2;
    
    }
    .myImg img{
        width: 100%;
    }
}